html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  height: 100%;
}

.table.table-bordered thead{
  display: table;
  width: calc(100vw - 37px);
  table-layout: fixed;
}

.table.table-bordered tbody {
  display: block !important;
  width: calc(100vw - 37px);
}

.table.table-bordered tbody:nth-of-type(2) {
  display: block;
  height: calc(100vh - 238px);
  overflow-y: scroll;
  width: calc(100vw - 20px);
}

.table.table-bordered tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}